.product {
    display: flex;
    flex-direction: column;
    margin: 1px;
}

header .title-top {
    background-color: #f9f9f9;
    padding: 20px 0 0 30px;
    font-size: xx-large;
    height: 110px;
}

.container {
    max-width: 95%;
    padding: 0;
}

.search-input-div {
    max-width: 80%;
    margin: 0 auto;
}

.bg-colored {
    background-color: #4d2d22;
}

.menu-text {
    color: white;
}

.tex {
    font-size: small;
}


.item-text a{
    font-size: small;
    color: black !important;
}

.item-text {
    margin-left: 8px;
}

.list a {
    padding: 5px 0 5px 0;
}

.item-text .title{
    font-weight: bold;
}

li.borderless {
    border-top: 0 none;
}







footer {
    margin-top: 40px;
    padding: 15px;
    color: #faf0e6 !important;
    height: 100px;
}

footer .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

